@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Centra;
    src: url('./assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Centra;
    src: url('./assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url('./assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    font-family: 'Centra', sans-serif;
    overflow-x: hidden;
    color: white;
}

.bg-black-gradient {
    background-color: rgba(57, 57, 59, 1);
    background-image: linear-gradient(91deg, rgba(57, 57, 59, 1) 0%, rgba(22, 22, 22, 1) 100%);
}

.pink-gradient {
    background: linear-gradient(to right, #972e77, #4d29ad);
}

.bg-primary-gradient {
    background: linear-gradient(to right, #57234b, #332067);
}

.slide-open {
    animation: slide-top 0.3s ease-in-out;
}

.slide-close {
    animation: slide-close 0.3s;
}

.banner.slide {
    animation: slideBottom 1000ms ease-out;
}

.banner.pulse {
    animation: pulse 3000ms ease-in-out infinite;
}

.krystian {
    transform: translateX(20px);
    transition: all 300ms ease-in-out;
}

.ratajczyk {
    transform: translateX(-20px);
    transition: all 300ms ease-in-out;
}

.logo:hover .krystian {
    transform: translateX(0);
}

.logo:hover .ratajczyk {
    transform: translateX(0);
}

.skills-info,
.contact-img {
    animation-delay: 100ms;
}

.skills-info.show,
.contact-img.show {
    animation: slideFromLeft 700ms ease-in-out;
}

@keyframes slide-top {
    0% {
        transform: translateY(-200%);
    }
}

@keyframes slide-close {
    100% {
        transform: translateY(-200%);
        opacity: 0;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(200%)
    }
}

@keyframes pulse {
    0% {
        transform: translateY(-5%)
    }

    50% {
        transform: translateY(5%)
    }

    100% {
        transform: translateY(-5%)
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}